.div {
  height: 39px;
  width: 324px;
  font-size: var(--font-size-xl);
  font-weight: 900;
  flex-shrink: 0;
  max-width: 100%;
}
.div,
.div1,
.frame-child {
  position: relative;
  display: none;
}
.div1 {
  height: 29.4px;
  width: 172.4px;
  flex-shrink: 0;
}
.frame-child {
  height: 192.8px;
  width: 478px;
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  z-index: 0;
}
.div2,
.div3 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div2 {
  width: 172.4px;
  height: 29.4px;
  z-index: 1;
}
.div3 {
  margin-top: -9.199999999999818px;
  height: 39.2px;
  flex: 1;
  font-weight: 900;
  z-index: 2;
}
.parent,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  align-self: stretch;
  height: 30px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.parent {
  width: 247.6px;
  flex-direction: column;
}
.frame-item {
  height: 16px;
  width: 93px;
  position: absolute;
  margin: 0 !important;
  bottom: 80.8px;
  left: 90px;
  background-color: rgba(37, 99, 235, 0.43);
  z-index: 1;
}
.frame-inner {
  height: 44.9px;
  width: 93.1px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-royalblue-100);
  display: none;
  z-index: 0;
}
.group-icon {
  height: 19.6px;
  width: 19.6px;
  position: absolute;
  margin: 0 !important;
  top: 12.2px;
  right: 14.7px;
  object-fit: contain;
  z-index: 1;
}
.frame-wrapper,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  align-self: stretch;
  height: 44.9px;
  border-radius: var(--br-13xl);
  background-color: var(--color-royalblue-100);
  flex-direction: row;
  position: relative;
  z-index: 1;
}
.frame-wrapper {
  width: 93.1px;
  flex-direction: column;
  padding: 4.7px 0 0;
  box-sizing: border-box;
}
.rectangle-div,
.rectangle-parent {
  position: relative;
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 65.6px 28.6px 67.8px var(--padding-12xl-9);
  box-sizing: border-box;
  gap: 20px;
}
.rectangle-div {
  width: 478px;
  height: 180px;
  display: none;
}
.div4,
.div5 {
  width: 172.4px;
  height: 29.4px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.div5 {
  width: 324px;
  height: 39px;
  font-size: var(--font-size-xl);
  font-weight: 900;
  max-width: 100%;
}
.frame-group,
.rectangle-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-container {
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  padding: var(--padding-16xl-6) var(--padding-12xl-9) 65px;
  box-sizing: border-box;
  gap: var(--gap-2xs);
}
.frame-group {
  gap: 33.2px;
}
.second-project-intro-child {
  width: 478px;
  height: 180px;
  position: relative;
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.div6 {
  width: 172.4px;
  height: 29.4px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.sorter1 {
  color: var(--color-royalblue-100);
}
.sorter {
  width: 324px;
  height: 39px;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.second-project-intro {
  align-self: stretch;
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  padding: var(--padding-13xl) var(--padding-13xl) 68.6px;
  box-sizing: border-box;
  gap: var(--gap-2xs);
  z-index: 1;
}
.frame-parent,
.second-project-intro,
.t-v-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 478px;
  gap: 41px;
}
.t-v-container {
  width: 519px;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.sorter3 {
  color: var(--color-royalblue-100);
}
.div7,
.sorter2 {
  position: relative;
  display: none;
  flex-shrink: 0;
}
.sorter2 {
  height: 39px;
  width: 324px;
  font-size: var(--font-size-xl);
  font-weight: 900;
  max-width: 100%;
}
.div7 {
  height: 29.4px;
  width: 172.4px;
}
.sorter5 {
  color: var(--color-royalblue-100);
}
.sorter4 {
  height: 39px;
  width: 324px;
  font-size: var(--font-size-xl);
  font-weight: 900;
  flex-shrink: 0;
  max-width: 100%;
}
.div8,
.project-topic-child,
.sorter4 {
  position: relative;
  display: none;
}
.div8 {
  height: 29.4px;
  width: 172.4px;
  flex-shrink: 0;
}
.project-topic-child {
  width: 478px;
  height: 429px;
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.div9 {
  width: 172.4px;
  height: 29.4px;
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.div10,
.sequence-icon {
  position: relative;
  max-width: 100%;
  z-index: 2;
}
.div10 {
  width: 324px;
  height: 39px;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
}
.sequence-icon {
  height: 1px;
  flex: 1;
  overflow: hidden;
}
.pyscript-import {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs-5);
  box-sizing: border-box;
  max-width: 100%;
}
.div11,
.various-sorting {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.various-sorting {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-5);
  max-width: 100%;
}
.div11 {
  width: 172.4px;
  height: 29.4px;
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  z-index: 2;
}
.reason-for-selection {
  width: 402px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl-5);
  max-width: 100%;
  flex-shrink: 0;
}
.p,
.p1 {
  margin: 0;
}
.span {
  color: var(--color-royalblue-100);
}
.span1 {
  color: var(--color-black);
}
.p2,
.p3 {
  margin: 0;
}
.div12 {
  align-self: stretch;
  height: 180px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.project-topic,
.project-topic-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.project-topic {
  flex: 1;
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  padding: var(--padding-16xl-6) var(--padding-3xl) 70px var(--padding-12xl-9);
  gap: 10.8px;
  z-index: 1;
}
.project-topic-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 4px;
}
.python-project-child {
  width: 478px;
  height: 429px;
  position: relative;
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.div13 {
  width: 172.4px;
  height: 29.4px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.html-py,
.python-import-j-s {
  position: relative;
  max-width: 100%;
  z-index: 2;
}
.html-py {
  width: 324px;
  height: 39px;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
}
.python-import-j-s {
  height: 1px;
  flex: 1;
  overflow: hidden;
}
.html-py-parent,
.website-scripting {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.website-scripting {
  align-self: stretch;
  height: 1px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs-5);
  box-sizing: border-box;
}
.html-py-parent {
  width: 402px;
  flex-direction: column;
  gap: var(--gap-10xs-5);
}
.python-import {
  margin: 0;
  font-size: var(--font-size-xl);
}
.blank-line,
.c {
  margin: 0;
}
.python-import-container {
  align-self: stretch;
  height: 180px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
  font-size: var(--font-size-8xs);
}
.technology-used {
  align-self: stretch;
  gap: var(--gap-xl-5);
  flex-shrink: 0;
  font-size: var(--font-size-xl);
}
.python-project,
.technology-used,
.third-project-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.python-project {
  align-self: stretch;
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  padding: var(--padding-16xl-6) var(--padding-3xl) 110px var(--padding-12xl-9);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  z-index: 1;
  font-size: var(--font-size-mini);
}
.third-project-intro {
  width: 482px;
  gap: 56px;
  font-size: var(--font-size-xl);
}
.sorter7 {
  color: var(--color-royalblue-100);
}
.div14,
.sorter6 {
  position: relative;
  display: none;
  flex-shrink: 0;
}
.sorter6 {
  height: 39px;
  width: 324px;
  font-size: var(--font-size-xl);
  font-weight: 900;
  max-width: 100%;
}
.div14 {
  height: 29.4px;
  width: 172.4px;
}
.project-description-child {
  width: 478px;
  height: 914px;
  position: relative;
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.div15 {
  width: 172.4px;
  height: 29.4px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.div16,
.sorting-reasons-child {
  position: relative;
  max-width: 100%;
  z-index: 2;
}
.div16 {
  width: 324px;
  height: 39px;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
}
.sorting-reasons-child {
  height: 1px;
  flex: 1;
  overflow: hidden;
}
.sorting-reasons {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs-5);
  box-sizing: border-box;
  max-width: 100%;
}
.project-description,
.sorting-introduction {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.sorting-introduction {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-5);
  flex-shrink: 0;
  font-size: var(--font-size-xl);
}
.project-description {
  border-radius: var(--br-27xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 67.8px rgba(0, 0, 0, 0.25);
  padding: 33.6px 37px 797.5px 38.9px;
  gap: var(--gap-2xs);
  z-index: 1;
}
.project-description,
.project-description-wrapper,
.tv-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.project-description-wrapper {
  width: 478px;
  flex-direction: column;
  padding: 2px 0 0;
  max-width: 100%;
}
.tv-3 {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 50px 133px 114px;
  gap: 65px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1800px) {
  .tv-3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .project-description {
    padding-top: var(--padding-3xl);
    padding-bottom: 518px;
    box-sizing: border-box;
  }
  .tv-3 {
    padding-left: var(--padding-47xl);
    padding-right: var(--padding-47xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .frame-group {
    gap: 17px 33.2px;
  }
  .frame-parent {
    gap: 20px 41px;
  }
  .third-project-intro {
    gap: 28px 56px;
  }
  .tv-3 {
    gap: 65px 32px;
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div,
  .div10,
  .div12,
  .div3,
  .div5,
  .sorter,
  .sorter2,
  .sorter4 {
    font-size: var(--font-size-base);
  }
  .project-topic {
    padding-top: var(--padding-4xl);
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .html-py {
    font-size: var(--font-size-base);
  }
  .python-project {
    padding-top: var(--padding-4xl);
    padding-bottom: 71px;
    box-sizing: border-box;
  }
  .div16,
  .sorter6 {
    font-size: var(--font-size-base);
  }
  .project-description {
    padding-top: 20px;
    padding-bottom: 337px;
    box-sizing: border-box;
  }
  .tv-3 {
    gap: 65px 16px;
  }
}
